.background {
  height: 400vh;
  background-image: linear-gradient(-180deg, #dddddd 40%, #f9f3f3 80%);
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: #c9cbff;
  font-family: serif;
}

#content {
  margin-left: 12px;
}

#sejarah {
  font-family: Verdana;
}

.judul {
  font-style: italic;
  font-family: serif;
  color: rgb(37, 33, 33);
  text-align: center;
}

.navbar {
  background-color: #f4f9f9;
}

.asidestyling {
  color: rgb(0, 119, 255);
}

a:hover {
  color: black;
}

a {
  text-decoration: none;
}

h6 {
  line-height: 1.6;
  text-indent: 1em;
  text-align: justify;
}
